/* styles.css */
body {
  font-size: 35px;
  line-height: 1.4em;
  padding: 70px 100px;
  font-family: 'Bitter', serif;
}

@media (max-width: 600px) {
  body {
    font-size: 28px;
    line-height: 1.4em;
    padding: 15px 20px;
  }
}

a:visited {
  color: inherit; /* Use the same color as unvisited links */
}

#black { 
  color: #000000;
}

#anz {
  color: #45abd3;
}

#twitter {
  color: #4C96E9;
}

#linkedin {
  color: #144984;
}

#branch {
  color: #B7302A;
}

#clearhead {
  color: #3A5795;
}

#xero {
  color: #13b5ea;
}
